<div class="modal-header">
    <h4 class="modal-title">Time to Change Password</h4>
</div>
<form name="forceChangePasswordForm" class="nobottommargin" method="post" ng-submit="submitForceChangePasswdForm($event)">
    <div class="modal-body">
        <div class="col_full" ng-class="{ 'has-error' : forceChangePasswordForm.currPassword.$invalid && !forceChangePasswordForm.currPassword.$pristine }">
            <label for="curr-password">Current Password:</label>
            <input type="password" id="curr-password" ng-model="currPassword" name="curr-password" value="" class="form-control not-dark" required />
            <p ng-show="forceChangePasswordForm.currPassword.$invalid && !forceChangePasswordForm.currPassword.$pristine" class="help-block">Current password field is required.</p>
        </div>

        <div class="col_full" ng-class="{ 'has-error' : forceChangePasswordForm.newPassword.$invalid && !forceChangePasswordForm.newPassword.$pristine }">
            <label for="newPassword">New Password:</label>
            <input type="password" id="new-password" ng-model="newPassword" name="newPassword" value="" class="form-control not-dark" required complex-password />
            <p ng-show="forceChangePasswordForm.newPassword.$invalid && forceChangePasswordForm.newPassword.$error.complexity && !forceChangePasswordForm.newPassword.$pristine" class="help-block">This field is required and must contain min. 8 characters. Min one number and one capital letter.</p>
        </div>

        <div class="col_full" ng-class="{ 'has-error' : forceChangePasswordForm.rePassword.$invalid && !forceChangePasswordForm.rePassword.$pristine }">
            <label for="rePassword">Re-enter New Password:</label>
            <input type="password" id="re-password" ng-model="rePassword" name="rePassword" value="" class="form-control not-dark" required pw-check='new-password' />
            <p ng-show="forceChangePasswordForm.rePassword.$invalid && !forceChangePasswordForm.rePassword.$pristine" class="help-block">Passwords do not match.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>